apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-api
spec:
  progressDeadlineSeconds: 600
  selector:
    matchLabels:
      app: hello-api
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  template:
    metadata:
      labels:
        app: hello-api
    spec:
      imagePullSecrets:
        - name: image-pull-secret
      containers:
        - image: devops022/hello-api:221fbf9
          name: hello-api
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          livenessProbe:
            httpGet:
              port: 8080
              path: /actuator/health/liveness
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              port: 8080
              path: /actuator/health/readiness
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 10
          resources:
            requests:
              memory: 512Mi
              cpu: 100m
            limits:
              memory: 5Gi
              cpu: 4000m

